header {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-bottom: 2px solid #b30000;
    color: #b30000;
    flex-wrap: nowrap;

}

h1 {
    visibility: hidden;
    display: none;

}

.divNav {
    border-top: 2px solid #b30000;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(194, 194, 194);
    width: auto;
    height: 100px;
    align-content: center;
    justify-content: center;
    gap: 50px;



}

.botaoNav {
    background-color: rgb(255, 255, 255);
    border-radius: 70px;
    padding: 10px;
    height: auto;
    width: 200px;

}

#logo {
    justify-items: flex-start;
    justify-self: flex-start;
    justify-content: flex-start;
    display: flex;
}

.logoHonda {
    height: 150px;
    width: 150px;
    display: flex;
    padding-left: 46%;
    padding-right: 44%;
    padding-top: 20px;
    padding-bottom: 20px;

}

body {
    display: flex;
    background-color: rgb(21, 31, 48);
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;

}

footer {
    background-color: rgb(255, 255, 255);
    display: flex;
    color: #b30000;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    align-items: flex-start;
    border-top: 2px solid #b30000;
}

main {
    background-color: rgb(21, 31, 48);
    display: flex;

    padding: 30px;
    gap: 10px;

}

a {
    color: #b30000;
}

h2 {
    color: #b30000;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 40px;
    gap: 40px;
    color: #85868d;
}