#ladinho {
    display: flex;

    background-repeat: no-repeat;
    flex: 1;
    border-radius: 15px;

}

#formulario {
    display: flex;
    flex: 2;
    border-radius: 7px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

input {
    height: 20px;
    width: 200px;
    font-size: 15px;
    border-radius: 15px;
    text-align: center;
}


button {
    background-color: rgb(255, 255, 255);
    border-radius: 70px;
    padding: 10px;
    height: auto;
}