main {
    display: flex;
    justify-content: center;

}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border: 2px solid #b30000;
    border-radius: 15px;
}

input {
    height: 30px;
    width: 300px;
    font-size: 18px;
    border-radius: 15px;
    text-align: center;
}

button {
    background-color: rgb(255, 255, 255);
    border-radius: 70px;
    height: auto;
}

.cadastrar {
    padding-bottom: 10px;
}

h3 {
    color: #85868d;
}